// SPDX-License-Identifier: GPL-2.0-or-later OR MIT
/*
 * Copyright 2025 Toradex
 *
 * https://www.toradex.com/computer-on-modules/smarc-arm-family/nxp-imx95
 */

#include <dt-bindings/net/ti-dp83867.h>
#include "imx95.dtsi"

/ {
	chosen {
		stdout-path = "serial1:115200n8";
	};

	aliases {
		mmc0 = &usdhc1;
		serial1 = &lpuart1;
		ethernet0 = &enetc_port0;
		ethernet1 = &enetc_port1;
	};

	connector {
		compatible = "gpio-usb-b-connector", "usb-b-connector";
		/* SMARC P64 - USB0_OTG_ID */
		id-gpios = <&som_gpio_expander_0 3 GPIO_ACTIVE_HIGH>;
		label = "USB0";
		self-powered;
		type = "micro";
		vbus-supply = <&reg_usb0_vbus>;

		port {
			usb_dr_connector: endpoint {
				remote-endpoint = <&usb0_otg_id>;
			};
		};
	};

	reg_usb0_vbus: regulator-usb0-vbus {
		compatible = "regulator-fixed";
		/* SMARC P62 - USB0_EN_OC# */
		gpios = <&som_gpio_expander_0 4 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-name = "USB0_EN_OC#";
	};

	reg_usb1_vbus: regulator-usb1-vbus {
		compatible = "regulator-fixed";
		/* CTRL_V_BUS_USB_HUB or SMARC P71 - USB2_EN_OC# */
		gpios = <&som_gpio_expander_0 6 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-name = "CTRL_V_BUS_USB_HUB";
	};
};

/* SMARC GBE0 */
&enetc_port0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enetc0>, <&pinctrl_enetc0_1588_tmr>;
	phy-handle = <&ethphy1>;
	phy-mode = "rgmii-id";
};

/* SMARC GBE1 */
&enetc_port1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enetc1>, <&pinctrl_enetc1_1588_tmr>;
	phy-handle = <&ethphy2>;
	phy-mode = "rgmii-id";
};

/* SMARC I2C_CAM0 */
&lpi2c4 {
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_lpi2c4>, <&pinctrl_ctrl_io_exp_int_b>;
	pinctrl-1 = <&pinctrl_lpi2c4_gpio>, <&pinctrl_ctrl_io_exp_int_b>;
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <400000>;
	scl-gpios = <&gpio2 31 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	sda-gpios = <&gpio2 30 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	status = "okay";

	som_gpio_expander_0: gpio-expander@20 {
		compatible = "nxp,pcal6408";
		reg = <0x20>;
		#interrupt-cells = <2>;
		interrupt-controller;
		interrupt-parent = <&gpio1>;
		interrupts = <14 IRQ_TYPE_LEVEL_LOW>;
		#gpio-cells = <2>;
		gpio-controller;
		gpio-line-names =
			"SMARC_PCIE_WAKE#", /* 0 */
			"SMARC_PCIE_B_RST#",
			"SMARC_PCIE_A_RST#",
			"SMARC_USB0_OTG_ID",
			"SMARC_USB0_EN", /* SMARC USB0_EN_OC# - Open Drain Output */
			"SMARC_USB0_OC#", /* SMARC USB0_EN_OC# - Over-Current Sense Input */
			"",
			"SMARC_PCIE_C_RST#";
	};
};

/* SMARC MDIO, shared between all ethernet ports */
&netc_emdio {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_emdio>;

	ethphy1: ethernet-phy@1 {
		reg = <1>;
		ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
		ti,tx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
	};

	ethphy2: ethernet-phy@2 {
		reg = <2>;
		ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
		ti,tx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
	};
};

/* SMARC SER1, used as the Linux Console */
&lpuart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
};

/* On-module eMMC */
&usdhc1 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc1>;
	pinctrl-1 = <&pinctrl_usdhc1>;
	pinctrl-2 = <&pinctrl_usdhc1_200mhz>;
	bus-width = <8>;
	non-removable;
	no-sdio;
	no-sd;
	status = "okay";
};

/* SMARC USB0 */
&usb2 {
	adp-disable;
	dr_mode = "otg";
	hnp-disable;
	srp-disable;
	usb-role-switch;
	vbus-supply = <&reg_usb0_vbus>;

	port {
		usb0_otg_id: endpoint {
			remote-endpoint = <&usb_dr_connector>;
		};
	};
};

&usb3 {
	fsl,disable-port-power-control;
};

/* SMARC USB1..4  */
&usb3_dwc3 {
	dr_mode = "host";
};

&usb3_phy {
	vbus-supply = <&reg_usb1_vbus>;
};

&scmi_iomuxc {
	/* SMARC MDIO, shared between all ethernet ports */
	pinctrl_emdio: emdiogrp {
		fsl,pins = <IMX95_PAD_ENET1_MDC__NETCMIX_TOP_NETC_MDC	0x57e>, /* SMARC S45 - MDIO_CLK */
			   <IMX95_PAD_ENET1_MDIO__NETCMIX_TOP_NETC_MDIO	0x97e>; /* SMARC S46 - MDIO_DAT */
	};

	/* SMARC GBE0 */
	pinctrl_enetc0: enetc0grp {
		fsl,pins = <IMX95_PAD_ENET1_TX_CTL__NETCMIX_TOP_ETH0_RGMII_TX_CTL	0x57e>, /* ENET1_TX_CTL */
			   <IMX95_PAD_ENET1_TXC__NETCMIX_TOP_ETH0_RGMII_TX_CLK		0x58e>, /* ENET1_TXC    */
			   <IMX95_PAD_ENET1_TD0__NETCMIX_TOP_ETH0_RGMII_TD0		0x57e>, /* ENET1_TDO    */
			   <IMX95_PAD_ENET1_TD1__NETCMIX_TOP_ETH0_RGMII_TD1		0x57e>, /* ENET1_TD1    */
			   <IMX95_PAD_ENET1_TD2__NETCMIX_TOP_ETH0_RGMII_TD2		0x57e>, /* ENET1_TD2    */
			   <IMX95_PAD_ENET1_TD3__NETCMIX_TOP_ETH0_RGMII_TD3		0x57e>, /* ENET1_TD3    */
			   <IMX95_PAD_ENET1_RX_CTL__NETCMIX_TOP_ETH0_RGMII_RX_CTL	0x57e>, /* ENET1_RX_CTL */
			   <IMX95_PAD_ENET1_RXC__NETCMIX_TOP_ETH0_RGMII_RX_CLK		0x58e>, /* ENET1_RXC    */
			   <IMX95_PAD_ENET1_RD0__NETCMIX_TOP_ETH0_RGMII_RD0		0x57e>, /* ENET1_RD0    */
			   <IMX95_PAD_ENET1_RD1__NETCMIX_TOP_ETH0_RGMII_RD1		0x57e>, /* ENET1_RD1    */
			   <IMX95_PAD_ENET1_RD2__NETCMIX_TOP_ETH0_RGMII_RD2		0x57e>, /* ENET1_RD2    */
			   <IMX95_PAD_ENET1_RD3__NETCMIX_TOP_ETH0_RGMII_RD3		0x57e>; /* ENET1_RD3    */
	};

	/* SMARC GBE0_SDP */
	pinctrl_enetc0_1588_tmr: enetc01588tmrgrp {
		fsl,pins = <IMX95_PAD_CCM_CLKO2__NETCMIX_TOP_NETC_TMR_1588_PP1	0x51e>; /* SMARC P6 - GBE0_SDP */
	};

	/* SMARC GBE1 */
	pinctrl_enetc1: enetc1grp {
		fsl,pins = <IMX95_PAD_ENET2_TX_CTL__NETCMIX_TOP_ETH1_RGMII_TX_CTL	0x57e>, /* ENET2_TX_CTL */
			   <IMX95_PAD_ENET2_TXC__NETCMIX_TOP_ETH1_RGMII_TX_CLK		0x58e>, /* ENET2_TXC    */
			   <IMX95_PAD_ENET2_TD0__NETCMIX_TOP_ETH1_RGMII_TD0		0x57e>, /* ENET2_TD0    */
			   <IMX95_PAD_ENET2_TD1__NETCMIX_TOP_ETH1_RGMII_TD1		0x57e>, /* ENET2_TD1    */
			   <IMX95_PAD_ENET2_TD2__NETCMIX_TOP_ETH1_RGMII_TD2		0x57e>, /* ENET2_TD2    */
			   <IMX95_PAD_ENET2_TD3__NETCMIX_TOP_ETH1_RGMII_TD3		0x57e>, /* ENET2_TD3    */
			   <IMX95_PAD_ENET2_RX_CTL__NETCMIX_TOP_ETH1_RGMII_RX_CTL	0x57e>, /* ENET2_RX_CTL */
			   <IMX95_PAD_ENET2_RXC__NETCMIX_TOP_ETH1_RGMII_RX_CLK		0x58e>, /* ENET2_RXC    */
			   <IMX95_PAD_ENET2_RD0__NETCMIX_TOP_ETH1_RGMII_RD0		0x57e>, /* ENET2_RD0    */
			   <IMX95_PAD_ENET2_RD1__NETCMIX_TOP_ETH1_RGMII_RD1		0x57e>, /* ENET2_RD1    */
			   <IMX95_PAD_ENET2_RD2__NETCMIX_TOP_ETH1_RGMII_RD2		0x57e>, /* ENET2_RD2    */
			   <IMX95_PAD_ENET2_RD3__NETCMIX_TOP_ETH1_RGMII_RD3		0x57e>; /* ENET2_RD3    */
	};

	/* SMARC GBE1_SDP */
	pinctrl_enetc1_1588_tmr: enetc11588tmrgrp {
		fsl,pins = < IMX95_PAD_CCM_CLKO4__NETCMIX_TOP_NETC_TMR_1588_PP2	0x51e>; /* SMARC P5 - GBE1_SDP */
	};

	pinctrl_ctrl_io_exp_int_b: ioexpintgrp {
		fsl,pins = <IMX95_PAD_SAI1_RXD0__AONMIX_TOP_GPIO1_IO_BIT14 0x31e>; /* CTRL_IO_EXP_INT_B */
	};

	/* SMARC I2C_CAM0 */
	pinctrl_lpi2c4: lpi2c4grp {
		fsl,pins = <IMX95_PAD_GPIO_IO31__LPI2C4_SCL	0x40001b9e>, /* SMARC S5 - I2C_CAM0_CK  */
			   <IMX95_PAD_GPIO_IO30__LPI2C4_SDA	0x40001b9e>; /* SMARC S7 - I2C_CAM0_DAT */
	};

	/* SMARC I2C_CAM0 as GPIOs */
	pinctrl_lpi2c4_gpio: lpi2c4gpiogrp {
		fsl,pins = <IMX95_PAD_GPIO_IO31__GPIO2_IO_BIT31	0x40001b9e>, /* SMARC S5 - I2C_CAM0_CK  */
			   <IMX95_PAD_GPIO_IO30__GPIO2_IO_BIT30	0x40001b9e>; /* SMARC S7 - I2C_CAM0_DAT */
	};

	/* SMARC SER1, used as the Linux Console */
	pinctrl_uart1: uart1grp {
		fsl,pins = <IMX95_PAD_UART1_TXD__AONMIX_TOP_LPUART1_TX	0x31e>, /* SMARC P134 - SER1_TX */
			   <IMX95_PAD_UART1_RXD__AONMIX_TOP_LPUART1_RX	0x31e>; /* SMARC P135 - SER1_RX */
	};

	/* On-module eMMC */
	pinctrl_usdhc1: usdhc1grp {
		fsl,pins = <IMX95_PAD_SD1_CLK__USDHC1_CLK        0x158e>, /* SD1_CLK    */
			   <IMX95_PAD_SD1_CMD__USDHC1_CMD        0x138e>, /* SD1_CMD    */
			   <IMX95_PAD_SD1_DATA0__USDHC1_DATA0    0x138e>, /* SD1_DATA0  */
			   <IMX95_PAD_SD1_DATA1__USDHC1_DATA1    0x138e>, /* SD1_DATA1  */
			   <IMX95_PAD_SD1_DATA2__USDHC1_DATA2    0x138e>, /* SD1_DATA2  */
			   <IMX95_PAD_SD1_DATA3__USDHC1_DATA3    0x138e>, /* SD1_DATA3  */
			   <IMX95_PAD_SD1_DATA4__USDHC1_DATA4    0x138e>, /* SD1_DATA4  */
			   <IMX95_PAD_SD1_DATA5__USDHC1_DATA5    0x138e>, /* SD1_DATA5  */
			   <IMX95_PAD_SD1_DATA6__USDHC1_DATA6    0x138e>, /* SD1_DATA6  */
			   <IMX95_PAD_SD1_DATA7__USDHC1_DATA7    0x138e>, /* SD1_DATA7  */
			   <IMX95_PAD_SD1_STROBE__USDHC1_STROBE  0x158e>; /* SD1_STROBE */
	};

	pinctrl_usdhc1_200mhz: usdhc1-200mhzgrp {
		fsl,pins = <IMX95_PAD_SD1_CLK__USDHC1_CLK        0x15fe>, /* SD1_CLK    */
			   <IMX95_PAD_SD1_CMD__USDHC1_CMD        0x13fe>, /* SD1_CMD    */
			   <IMX95_PAD_SD1_DATA0__USDHC1_DATA0    0x13fe>, /* SD1_DATA0  */
			   <IMX95_PAD_SD1_DATA1__USDHC1_DATA1    0x13fe>, /* SD1_DATA1  */
			   <IMX95_PAD_SD1_DATA2__USDHC1_DATA2    0x13fe>, /* SD1_DATA2  */
			   <IMX95_PAD_SD1_DATA3__USDHC1_DATA3    0x13fe>, /* SD1_DATA3  */
			   <IMX95_PAD_SD1_DATA4__USDHC1_DATA4    0x13fe>, /* SD1_DATA4  */
			   <IMX95_PAD_SD1_DATA5__USDHC1_DATA5    0x13fe>, /* SD1_DATA5  */
			   <IMX95_PAD_SD1_DATA6__USDHC1_DATA6    0x13fe>, /* SD1_DATA6  */
			   <IMX95_PAD_SD1_DATA7__USDHC1_DATA7    0x13fe>, /* SD1_DATA7  */
			   <IMX95_PAD_SD1_STROBE__USDHC1_STROBE  0x15fe>; /* SD1_STROBE */
	};
};
