// SPDX-License-Identifier: GPL-2.0-or-later OR MIT
/*
 * Copyright 2025 Toradex
 *
 * https://www.toradex.com/computer-on-modules/smarc-arm-family/nxp-imx95
 */

#include <dt-bindings/net/ti-dp83867.h>
#include "imx95.dtsi"

/ {
	chosen {
		stdout-path = "serial1:115200n8";
	};

	aliases {
		mmc0 = &usdhc1;
		serial1 = &lpuart1;
		ethernet0 = &enetc_port0;
		ethernet1 = &enetc_port1;
	};
};

/* SMARC GBE0 */
&enetc_port0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enetc0>, <&pinctrl_enetc0_1588_tmr>;
	phy-handle = <&ethphy1>;
	phy-mode = "rgmii-id";
};

/* SMARC GBE1 */
&enetc_port1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enetc1>, <&pinctrl_enetc1_1588_tmr>;
	phy-handle = <&ethphy2>;
	phy-mode = "rgmii-id";
};

/* SMARC MDIO, shared between all ethernet ports */
&netc_emdio {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_emdio>;

	ethphy1: ethernet-phy@1 {
		reg = <1>;
		ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
		ti,tx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
	};

	ethphy2: ethernet-phy@2 {
		reg = <2>;
		ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
		ti,tx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
	};
};

/* SMARC SER1, used as the Linux Console */
&lpuart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
};

/* On-module eMMC */
&usdhc1 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc1>;
	pinctrl-1 = <&pinctrl_usdhc1>;
	pinctrl-2 = <&pinctrl_usdhc1_200mhz>;
	bus-width = <8>;
	non-removable;
	no-sdio;
	no-sd;
	status = "okay";
};

&usb3_dwc3 {
	adp-disable;
	dr_mode = "otg";
	hnp-disable;
	role-switch-default-mode = "none";
	srp-disable;
	usb-role-switch;
	snps,dis-u1-entry-quirk;
	snps,dis-u2-entry-quirk;
};

&scmi_iomuxc {
	/* SMARC MDIO, shared between all ethernet ports */
	pinctrl_emdio: emdiogrp {
		fsl,pins = <IMX95_PAD_ENET1_MDC__NETCMIX_TOP_NETC_MDC	0x57e>, /* SMARC S45 - MDIO_CLK */
			   <IMX95_PAD_ENET1_MDIO__NETCMIX_TOP_NETC_MDIO	0x97e>; /* SMARC S46 - MDIO_DAT */
	};

	/* SMARC GBE0 */
	pinctrl_enetc0: enetc0grp {
		fsl,pins = <IMX95_PAD_ENET1_TX_CTL__NETCMIX_TOP_ETH0_RGMII_TX_CTL	0x57e>, /* ENET1_TX_CTL */
			   <IMX95_PAD_ENET1_TXC__NETCMIX_TOP_ETH0_RGMII_TX_CLK		0x58e>, /* ENET1_TXC    */
			   <IMX95_PAD_ENET1_TD0__NETCMIX_TOP_ETH0_RGMII_TD0		0x57e>, /* ENET1_TDO    */
			   <IMX95_PAD_ENET1_TD1__NETCMIX_TOP_ETH0_RGMII_TD1		0x57e>, /* ENET1_TD1    */
			   <IMX95_PAD_ENET1_TD2__NETCMIX_TOP_ETH0_RGMII_TD2		0x57e>, /* ENET1_TD2    */
			   <IMX95_PAD_ENET1_TD3__NETCMIX_TOP_ETH0_RGMII_TD3		0x57e>, /* ENET1_TD3    */
			   <IMX95_PAD_ENET1_RX_CTL__NETCMIX_TOP_ETH0_RGMII_RX_CTL	0x57e>, /* ENET1_RX_CTL */
			   <IMX95_PAD_ENET1_RXC__NETCMIX_TOP_ETH0_RGMII_RX_CLK		0x58e>, /* ENET1_RXC    */
			   <IMX95_PAD_ENET1_RD0__NETCMIX_TOP_ETH0_RGMII_RD0		0x57e>, /* ENET1_RD0    */
			   <IMX95_PAD_ENET1_RD1__NETCMIX_TOP_ETH0_RGMII_RD1		0x57e>, /* ENET1_RD1    */
			   <IMX95_PAD_ENET1_RD2__NETCMIX_TOP_ETH0_RGMII_RD2		0x57e>, /* ENET1_RD2    */
			   <IMX95_PAD_ENET1_RD3__NETCMIX_TOP_ETH0_RGMII_RD3		0x57e>; /* ENET1_RD3    */
	};

	/* SMARC GBE0_SDP */
	pinctrl_enetc0_1588_tmr: enetc01588tmrgrp {
		fsl,pins = <IMX95_PAD_CCM_CLKO2__NETCMIX_TOP_NETC_TMR_1588_PP1	0x51e>; /* SMARC P6 - GBE0_SDP */
	};

	/* SMARC GBE1 */
	pinctrl_enetc1: enetc1grp {
		fsl,pins = <IMX95_PAD_ENET2_TX_CTL__NETCMIX_TOP_ETH1_RGMII_TX_CTL	0x57e>, /* ENET2_TX_CTL */
			   <IMX95_PAD_ENET2_TXC__NETCMIX_TOP_ETH1_RGMII_TX_CLK		0x58e>, /* ENET2_TXC    */
			   <IMX95_PAD_ENET2_TD0__NETCMIX_TOP_ETH1_RGMII_TD0		0x57e>, /* ENET2_TD0    */
			   <IMX95_PAD_ENET2_TD1__NETCMIX_TOP_ETH1_RGMII_TD1		0x57e>, /* ENET2_TD1    */
			   <IMX95_PAD_ENET2_TD2__NETCMIX_TOP_ETH1_RGMII_TD2		0x57e>, /* ENET2_TD2    */
			   <IMX95_PAD_ENET2_TD3__NETCMIX_TOP_ETH1_RGMII_TD3		0x57e>, /* ENET2_TD3    */
			   <IMX95_PAD_ENET2_RX_CTL__NETCMIX_TOP_ETH1_RGMII_RX_CTL	0x57e>, /* ENET2_RX_CTL */
			   <IMX95_PAD_ENET2_RXC__NETCMIX_TOP_ETH1_RGMII_RX_CLK		0x58e>, /* ENET2_RXC    */
			   <IMX95_PAD_ENET2_RD0__NETCMIX_TOP_ETH1_RGMII_RD0		0x57e>, /* ENET2_RD0    */
			   <IMX95_PAD_ENET2_RD1__NETCMIX_TOP_ETH1_RGMII_RD1		0x57e>, /* ENET2_RD1    */
			   <IMX95_PAD_ENET2_RD2__NETCMIX_TOP_ETH1_RGMII_RD2		0x57e>, /* ENET2_RD2    */
			   <IMX95_PAD_ENET2_RD3__NETCMIX_TOP_ETH1_RGMII_RD3		0x57e>; /* ENET2_RD3    */
	};

	/* SMARC GBE1_SDP */
	pinctrl_enetc1_1588_tmr: enetc11588tmrgrp {
		fsl,pins = < IMX95_PAD_CCM_CLKO4__NETCMIX_TOP_NETC_TMR_1588_PP2	0x51e>; /* SMARC P5 - GBE1_SDP */
	};

	/* SMARC SER1, used as the Linux Console */
	pinctrl_uart1: uart1grp {
		fsl,pins = <IMX95_PAD_UART1_TXD__AONMIX_TOP_LPUART1_TX	0x31e>, /* SMARC P134 - SER1_TX */
			   <IMX95_PAD_UART1_RXD__AONMIX_TOP_LPUART1_RX	0x31e>; /* SMARC P135 - SER1_RX */
	};

	/* On-module eMMC */
	pinctrl_usdhc1: usdhc1grp {
		fsl,pins = <IMX95_PAD_SD1_CLK__USDHC1_CLK        0x158e>, /* SD1_CLK    */
			   <IMX95_PAD_SD1_CMD__USDHC1_CMD        0x138e>, /* SD1_CMD    */
			   <IMX95_PAD_SD1_DATA0__USDHC1_DATA0    0x138e>, /* SD1_DATA0  */
			   <IMX95_PAD_SD1_DATA1__USDHC1_DATA1    0x138e>, /* SD1_DATA1  */
			   <IMX95_PAD_SD1_DATA2__USDHC1_DATA2    0x138e>, /* SD1_DATA2  */
			   <IMX95_PAD_SD1_DATA3__USDHC1_DATA3    0x138e>, /* SD1_DATA3  */
			   <IMX95_PAD_SD1_DATA4__USDHC1_DATA4    0x138e>, /* SD1_DATA4  */
			   <IMX95_PAD_SD1_DATA5__USDHC1_DATA5    0x138e>, /* SD1_DATA5  */
			   <IMX95_PAD_SD1_DATA6__USDHC1_DATA6    0x138e>, /* SD1_DATA6  */
			   <IMX95_PAD_SD1_DATA7__USDHC1_DATA7    0x138e>, /* SD1_DATA7  */
			   <IMX95_PAD_SD1_STROBE__USDHC1_STROBE  0x158e>; /* SD1_STROBE */
	};

	pinctrl_usdhc1_200mhz: usdhc1-200mhzgrp {
		fsl,pins = <IMX95_PAD_SD1_CLK__USDHC1_CLK        0x15fe>, /* SD1_CLK    */
			   <IMX95_PAD_SD1_CMD__USDHC1_CMD        0x13fe>, /* SD1_CMD    */
			   <IMX95_PAD_SD1_DATA0__USDHC1_DATA0    0x13fe>, /* SD1_DATA0  */
			   <IMX95_PAD_SD1_DATA1__USDHC1_DATA1    0x13fe>, /* SD1_DATA1  */
			   <IMX95_PAD_SD1_DATA2__USDHC1_DATA2    0x13fe>, /* SD1_DATA2  */
			   <IMX95_PAD_SD1_DATA3__USDHC1_DATA3    0x13fe>, /* SD1_DATA3  */
			   <IMX95_PAD_SD1_DATA4__USDHC1_DATA4    0x13fe>, /* SD1_DATA4  */
			   <IMX95_PAD_SD1_DATA5__USDHC1_DATA5    0x13fe>, /* SD1_DATA5  */
			   <IMX95_PAD_SD1_DATA6__USDHC1_DATA6    0x13fe>, /* SD1_DATA6  */
			   <IMX95_PAD_SD1_DATA7__USDHC1_DATA7    0x13fe>, /* SD1_DATA7  */
			   <IMX95_PAD_SD1_STROBE__USDHC1_STROBE  0x15fe>; /* SD1_STROBE */
	};
};
