// SPDX-License-Identifier: GPL-2.0-or-later OR MIT
/*
 * Copyright 2025 Toradex
 *
 * https://www.toradex.com/computer-on-modules/smarc-arm-family/nxp-imx95
 */

/dts-v1/;

#include <dt-bindings/usb/pd.h>
#include "imx95-toradex-smarc.dtsi"

/ {
	model = "Toradex SMARC iMX95 on Toradex SMARC Development Board";
	compatible = "toradex,smarc-imx95-dev",
		     "toradex,smarc-imx95",
		     "fsl,imx95";
};

/* SMARC SER1, used as the Linux Console */
&lpuart1 {
	status = "okay";
};

&usb3 {
	status = "okay";
};

&usb3_phy {
	status = "okay";
};

&usb3_dwc3 {
	status = "okay";
};
